<ng-template #template>

  <div class="modal-content">
    <div class="modal-header">
      
      <div style="width: 900px; margin: 0 auto;">
        <table   width="100%">
            <tr>
                <td align="center"><img src="assets/images/2017-fresche-logo-1.png" alt="IMG"></td>
            <td align="right">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a (click)="modalRef.hide()" class="pointer" style="font-size: 25px;"> <span aria-hidden="true">&times;</span></a>
                &nbsp;  
            </td>

            </tr>
          </table>
        
      </div>
      
      <br>
      <br>


    </div>
    <div class="modal-body">
      

      <br>

      <span class="login100-form-title">
        <i class="fa fa-lock" style="font-size:70px;color:#64c7c6"></i>
        <br>
        <br> Forgot Password?
      </span>


      <p align="center"> You can reset your password here</p>

      <hr>
      <br>
      <p align="center"> Please enter your email address. An email with otp will be sent to you .
      </p>
      <br>

      <form [formGroup]="myform">
        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100"  type="text" formControlName="userEmail" name="email" placeholder="Email" [(ngModel)]="model.userEmail"
            required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>
        <!-- <div align="center" class="alert" [hidden]="clearMessage"  *ngIf="myform.controls['userEmail'].hasError('required') && myform.controls['userEmail'].touched">Employee email required!</div> -->
        <div class="alert" *ngIf="myform.controls['userEmail'].hasError('pattern')">Email Invalid!</div>
        <div class="container-login100-form-btn">
          <button type="button" class="login100-form-btn" (click)="modalRef.hide()"  
            (click)="sendEmail(model,templateNested,template)" [disabled]="!myform.valid">Request OTP</button>
        </div>
      </form>

    </div>

  </div>
</ng-template>

<ng-template #templateNested>

  <div class="modal-content">
    <div class="modal-header">

      <div style="width: 900px; margin: 0 auto;">
          <table   width="100%">
              <tr>
                  <td align="center"><img src="assets/images/2017-fresche-logo-1.png" alt="IMG"></td>
              <td align="right">
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <a (click)="closePopup2();" class="pointer" style="font-size: 25px;"> <span aria-hidden="true">&times;</span></a>
                  &nbsp;  
              </td>
  
              </tr>
            </table>
      </div>

      <br>
      <br>



    </div>
    <div class="modal-body">
      <br>
      <br>
      <p align="center">Please enter the OTP sent to your respective email. Enter New Password.
      </p>
      <br>
      <br>
      <form [formGroup]="myform2">
        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" formControlName="randomCode" name="otp" placeholder="OTP" [(ngModel)]="model.randomCode"
            required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-shield" style="font-size:24px"></i>
          </span>
        </div>
        <!-- <div align="center" [hidden]="clearMessage" class="alert" *ngIf="myform2.controls['randomCode'].hasError('required') && myform2.controls['randomCode'].touched">OTP required!</div> -->

        <div class="wrap-input100 validate-input">
          <input class="input100" type="password" formControlName="password" name="password" placeholder="New Password" [(ngModel)]="model.password"
            required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-key" style="font-size:24px"></i>
          </span>
        </div>
        <div align="center" [hidden]="clearMessage" class="alert" *ngIf="myform2.controls['password'].invalid && myform2.controls['password'].touched">Password length should be 8-15 and contains at least 1 digit!</div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="password" formControlName="rePassword" name="rePassword" placeholder="Confirm Password " [(ngModel)]="model.rePassword"
            required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-key" style="font-size:24px"></i>
          </span>
        </div>
        <div align="center" [hidden]="clearMessage" class="alert" *ngIf="myform2.controls['rePassword'].invalid && myform2.controls['rePassword'].touched">Password length should be 8-15 and contains at least 1 digit!</div>

        <div class="container-login100-form-btn">
          <button [disabled]="!myform2.valid" type="button" class="login100-form-btn" (click)="matchOtpAndUpdatePass(model,templateNested)">Submit</button>
        </div>
      </form>


    </div>

  </div>
</ng-template>

<a routerLink="" (click)="openModal(template)">Forgot Password?</a>