<ng-template #templatechange>

  <div class="modal-content">
    <div class="modal-header">

       <div style="width: 900px;"> 
        
        <table    width="100%">
          <tr>
              <td align="center"><img src="assets/images/2017-fresche-logo-1.png" alt="IMG"></td>
          <td align="right">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a (click)="closePopup();" class="pointer" style="font-size: 25px;"> <span aria-hidden="true">&times;</span></a>
              &nbsp;  
          </td>

          </tr>
        </table>

       
      </div>
      <br>

    </div>
    <div class="modal-body">


      <br>

      <span class="login100-form-title">
        <i class="fa fa-lock" style="font-size:70px;color:#64c7c6"></i>
        <br>
        <br> Change Password
      </span>

      <hr>
      <br>
     

      <form [formGroup]="myform">
        <div class="wrap-input100 validate-input">
          <input class="input100" type="password" formControlName="currentPassword" name="currentPassword" placeholder="Current Password" [(ngModel)]="model.currentPassword"
            required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-key"></i>
          </span>
        </div>
        <!-- <div align="center" class="alert" *ngIf="myform.controls['currentPassword'].hasError('required') && myform.controls['currentPassword'].touched">Password required!</div> -->

        <div class="wrap-input100 validate-input">
          <input class="input100" type="password" formControlName="newPassword" name="newPassword" placeholder="New Password" [(ngModel)]="model.newPassword"
            required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-key" ></i>
          </span>
        </div>
        <div align="center" class="alert" *ngIf="myform.controls['newPassword'].invalid && myform.controls['newPassword'].touched">Password length should be 8-15 and contains at least 1 digit!</div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="password" formControlName="confirm_password" name="confirm_password" placeholder="Confirm Password" [(ngModel)]="model.confirm_password"
            required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-key" ></i>
          </span>
        </div>
        <div align="center" class="alert" *ngIf="myform.controls['confirm_password'].invalid && myform.controls['confirm_password'].touched">Password length should be 8-15 and contains at least 1 digit!</div>

        <div class="container-login100-form-btn">
          
          <button type="button" class="login100-form-btn" (click)="matchAndChangePassword(model)" [disabled]="!myform.valid">Change Password</button>
        </div>
      </form>

    </div>

  </div>
</ng-template>

<a routerLink="/scheduler" (click)="openModal(templatechange)">Change Password</a>