<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav">
    
    <li class="nav-item">
      <h3 style="text-decoration: underline solid">Filter By:</h3>
    </li>
    <span class="barcode">  </span>
    <li class="nav-item">
        <div class="form-group">
            <h3> Resource type:</h3>
          </div>
          </li>
          <span class="barcode">  </span>
          <li class="nav-item">
          <select class="form-control" id="resourceType">
            <option value="">All</option>
            <option>Persmanent</option>
            <option>Consulatnt</option>
          </select>
       </li>
       <span class="barcode">  </span>
    <li class="nav-item">
      <div class="form-group">
          <h3> Location:</h3>
        </div>
        </li>
        <span class="barcode">  </span>
        <li class="nav-item">
        <select class="form-control" id="location">
          <option value="">All</option>
          <option>Lucknow</option>
          <option>Montreal</option>
          <option>Ashville</option>
          <option>Melbourne</option>
          <option>Boston</option>
          <option>Victoria</option>
        </select>
      </li>
      <span class="barcode">  </span>

    <li class="nav-item">
        <div class="form-group">
            <h3> Designation:</h3>
          </div>
        </li>
        <span class="barcode">  </span>
        <li class="nav-item">
          <select class="form-control" id="designation">
            <option value="">All</option>
            <option>Java Developer</option>
            <option>IBM i Developer</option>
            <option>Tester</option>
            <option>UI Developer</option>
          </select>
        </li>
        <span class="barcode">  </span>
        <li class="nav-item">
            <div class="form-group">
                <h3> Department:</h3>
              </div>
            </li>
            <span class="barcode">  </span>

            <li class="nav-item">
              <select class="form-control" id="department">
                <option value="">All</option>
                <option>PSO</option>
                <option>Engineering</option>
                <option>MIS</option>
                <option>Application Support</option>
              </select>
            </li>
            <span class="barcode">     </span>
            <li class="nav-item">
                <div class="form-group">
                    <h3 style="text-decoration: underline solid"> Sort By:</h3>
                  </div>
                </li>
                <span class="barcode">    </span>
    
                <li class="nav-item">
                  <select class="form-control" id="department">
                    <option value="">All</option>
                    <option>Name</option>
                    <option>Date Of Joining</option>
                    <option>Work Expereicne</option>
        
                  </select>
                </li>
                <span class="barcode">              </span>
                <form class="form-inline">
                  <input class="form-control" type="text" placeholder="Search">
                  <span class="barcode">  </span>
                  <button class="btn btn-success" type="submit">Search</button>
                </form>

        
  </ul>
</nav>