@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
/* scheduler header editing */
  .cal-header{  
    background-color: white;
  }
  .cal-event-title{
    color:white;
  }
  .pointer {
    cursor: pointer;
  }
  .cal-week-view .cal-event{
    color: black;
  }
  /*  */
  /* coloring for the resources and projects */
/* Projects */
  .non-billable{
    border: 1px solid #9174A9;
    background-color:#F5F1F8;
    border-radius:5px; 
  }
  .billable{
    border: 1px solid #007F00;
    background-color: #EDFBED;
    border-radius:5px; 
  }
  #non-billable{
    background-color:#9174A9;
    border-radius:5px; 
  }
  #billable{
    background-color: #EDFBED;
    border-radius:5px; 
  }
  .billable .project-name{
    background-color: #007F00;
  }
  .non-billable .project-name {
    background-color: #9174A9;
  }
/* Resources */
  #Consultant{
    border: 1px solid orange;
    border-radius:5px; 
  }
  .Consultant{
    background-color:#FEEEE0;
    border-radius:5px; 
  }
  #Permanent{
    border: 1px solid #5f9ea0;
    border-radius:5px; 
  }
  .Permanent{
    background-color: #C5F6F1;
    border-radius:5px; 
  }
  .Consultant .resource-name{
    background-color: orange;
  }
  .Permanent .resource-name {
    background-color: #5f9ea0;
  }
  .resource-name, .project-name{
    padding:5px;
    font-weight: bold;
    color:white;
    border-top-left-radius:5px; 
    border-top-right-radius:5px;
  }

  .Consultant:hover  {    
    background-color: #FFD8B6;
    transition: background-color 0.4s ease-in-out;
  }
  .Consultant:hover .resource-name{
    background-color: #FF7C00;
    transition: background-color 0.4s ease-in-out;
  }
  .Permanent:hover  {    
    background-color: #96E4DC;
    transition: background-color 0.4s ease-in-out;
  }
  .Permanent:hover .resource-name{
    background-color: #3C8386;
    transition: background-color 0.4s ease-in-out;
  }

  .non-billable:hover  {    
    background-color: #B9A4CA;
    transition: background-color 0.4s ease-in-out;
  }
  .non-billable:hover .project-name{
    background-color: #522B71;
    transition: background-color 0.4s ease-in-out;
  }
  .billable:hover  {    
    background-color: rgba(15, 153, 15,0.4);
    transition: background-color 0.4s ease-in-out;
  }
  .billable:hover .project-name{
    background-color: #004000;
    transition: background-color 0.4s ease-in-out;
  }
  /*  */
  /* hover zoom in found in profile(aka resource) */
  .main-section:hover{
    box-shadow: 0 12px 16px 0 rgba(0.3,0,0,0.3);
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
  }
  /*  */

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
  }
  body{
    min-height:100%;
  }
  html {
    position: relative;
    height: 100%;
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  .event-options-delete{
    color:#FF476B!important;
  }
  .event-options-delete:hover{
    transition: all .25s ease-in;
    color:#CC002F!important;    
  }
  .event-options-edit{
    color:#2cb42c!important;
  }
  .event-options-edit:hover{
    transition: all .25s ease-in;
    color:#228b22!important;    
  }


  .button {
    -webkit-appearance: none;
    appearance: none;
    background-color: #217db3;
    border: 1px solid #217db3;
    border-radius: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 150ms ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    padding: 15px 30px;
    margin-bottom: 20px;
  }
  .button:hover {
    color: white;
    border-color: #44a4dd;
  }
  .button:focus {
    color: white;
    background: #1c6a98;
    border: 1px solid #1c6a98;
  }
  .button:disabled, .button.disabled {
    cursor: not-allowed;
    background: #f2f5f7;
    border: 1px solid #f2f5f7;
    color: #aebfc7;
  }
  .button.button-full {
    display: block;
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }
  
  .button-red {
    -webkit-appearance: none;
    appearance: none;
    background-color: #ff573d;
    border: 1px solid #ff573d;
    border-radius: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 150ms ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    padding: 15px 30px;
    margin-bottom: 20px;
  }
  .button-red:hover {
    color: white;
    border-color: #ff998a;
  }
  .button-red:focus {
    color: white;
    background: #d94a34;
    border: 1px solid #d94a34;
  }
  .button-red:disabled, .button-red.disabled {
    cursor: not-allowed;
    background: #f2f5f7;
    border: 1px solid #f2f5f7;
    color: #aebfc7;
  }
  .button-red.button-full {
    display: block;
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }
  
  .button-gray {
    -webkit-appearance: none;
    appearance: none;
    background-color: #aebfc7;
    border: 1px solid #aebfc7;
    border-radius: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 150ms ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    padding: 15px 30px;
    margin-bottom: 20px;
  }
  .button-gray:hover {
    color: white;
    border-color: #dbe3e6;
  }
  .button-gray:focus {
    color: white;
    background: #94a2a9;
    border: 1px solid #94a2a9;
  }
  .button-gray:disabled, .button-gray.disabled {
    cursor: not-allowed;
    background: #f2f5f7;
    border: 1px solid #f2f5f7;
    color: #aebfc7;
  }
  .button-gray.button-full {
    display: block;
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }
  
  .button-green {
    -webkit-appearance: none;
    appearance: none;
    background-color: #7fac4d;
    border: 1px solid #7fac4d;
    border-radius: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 150ms ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    padding: 15px 30px;
    margin-bottom: 20px;
  }
  .button-green:hover {
    color: white;
    border-color: #a5c680;
  }
  .button-green:focus {
    color: white;
    background: #6c9241;
    border: 1px solid #6c9241;
  }
  .button-green:disabled, .button-green.disabled {
    cursor: not-allowed;
    background: #f2f5f7;
    border: 1px solid #f2f5f7;
    color: #aebfc7;
  }
  .button-green.button-full {
    display: block;
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }
  
  .button-hollow {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    color: #217db3;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 150ms ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    padding: 15px 30px;
    margin-bottom: 20px;
    border: 1px solid #217db3;
    text-transform: uppercase;
  }
  .button-hollow:hover {
    border-color: #44a4dd;
    color: #44a4dd;
  }
  .button-hollow:focus {
    border-color: #1c6a98;
    color: #1c6a98;
  }
  .button-hollow:disabled, .button-hollow:a-disabled, .button-hollow.disabled {
    cursor: not-allowed;
    border-color: #f2f5f7;
    color: #f2f5f7;
  }
  .button-hollow.button-full {
    display: block;
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }
  
  .button-hollow-zero-dashboard {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    color: #217db3;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 150ms ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    padding: 15px 30px;
    margin-bottom: 20px;
    border: 1px solid #217db3;
    text-transform: uppercase;
    border: 2px solid #217db3;
  }
  .button-hollow-zero-dashboard:hover {
    border-color: #44a4dd;
    color: #44a4dd;
  }
  .button-hollow-zero-dashboard:focus {
    border-color: #1c6a98;
    color: #1c6a98;
  }
  .button-hollow-zero-dashboard:disabled, .button-hollow-zero-dashboard:a-disabled, .button-hollow-zero-dashboard.disabled {
    cursor: not-allowed;
    border-color: #f2f5f7;
    color: #f2f5f7;
  }
  .button-hollow-zero-dashboard.button-full {
    display: block;
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }
  
  .button-hollow-white {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 150ms ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    padding: 15px 30px;
    margin-bottom: 20px;
    border: 1px solid white;
    text-transform: uppercase;
  }
  .button-hollow-white:hover {
    border-color: white;
    color: white;
  }
  .button-hollow-white:focus {
    border-color: #d9d9d9;
    color: #d9d9d9;
  }
  .button-hollow-white:disabled, .button-hollow-white:a-disabled, .button-hollow-white.disabled {
    cursor: not-allowed;
    border-color: #f2f5f7;
    color: #f2f5f7;
  }
  .button-hollow-white.button-full {
    display: block;
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }
  
  .button-hollow-danger {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    color: #f7822d;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 150ms ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    padding: 15px 30px;
    margin-bottom: 20px;
    border: 1px solid #f7822d;
    text-transform: uppercase;
  }
  .button-hollow-danger:hover {
    border-color: #faae77;
    color: #faae77;
  }
  .button-hollow-danger:focus {
    border-color: #d26f26;
    color: #d26f26;
  }
  .button-hollow-danger:disabled, .button-hollow-danger:a-disabled, .button-hollow-danger.disabled {
    cursor: not-allowed;
    border-color: #f2f5f7;
    color: #f2f5f7;
  }
  .button-hollow-danger.button-full {
    display: block;
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }
  
  .button-clear {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0;
    color: #217db3;
    cursor: pointer;
    display: inline-block;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 150ms ease;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    padding: 15px 30px;
    margin-bottom: 20px;
    font-weight: normal;
  }
  .button-clear:hover {
    color: #217db3;
    border-color: rgba(38, 38, 38, 0);
  }
  .button-clear:focus {
    color: #217db3;
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.15);
  }
  .button-clear:disabled, .button-clear.disabled {
    cursor: not-allowed;
    background: #f2f5f7;
    border: 1px solid #f2f5f7;
    color: #aebfc7;
  }
  .button-clear.button-full {
    display: block;
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }
  
input,
label,
select,
textarea {
  display: block;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 15px;
  color: #516066;
}

.multi-form-row .input, .multi-form-row .ams {
  border-right-width: 0;
}
.multi-form-row .input.select:after, .multi-form-row .select.ams:after {
  padding-left: 15px;
  padding-right: 15px;
}
.multi-form-row .input.omega, .multi-form-row .omega.ams {
  border-right-width: 1px;
}

textarea {
  position: relative;
  margin-bottom: 10px;
  padding: 0 10px;
  border: 1px solid #D3DCE0;
  background: white;
  resize: vertical;
}

input:-webkit-autofill {
  background: white !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.input, .ams, .textarea, textarea {
  position: relative;
  margin-bottom: 20px;
  padding: 0 10px;
  border: 1px solid #D3DCE0;
  background: white;
}
.input.file input, .file.ams input, .textarea.file input, textarea.file input {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.input.file span, .file.ams span, .textarea.file span, textarea.file span {
  position: absolute;
}
.input.file span.file-name, .file.ams span.file-name, .textarea.file span.file-name, textarea.file span.file-name {
  top: 13px;
  left: 10px;
  transition: all 150ms ease;
  color: #aebfc7;
  font-size: 12px;
}
  
  .vertical-center {
    min-height: 50%;  /* Fallback for vh unit */
    min-height: 50vh; /* You might also want to use
                          'height' property instead.
                          
                          Note that for percentage values of
                          'height' or 'min-height' properties,
                          the 'height' of the parent element
                          should be specified explicitly.
    
                          In this case the parent of '.vertical-center'
                          is the <body> element */
  
    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    
    /* Align the bootstrap's container vertically */
      -webkit-box-align : center;
      -webkit-align-items : center;
         -moz-box-align : center;
         -ms-flex-align : center;
            align-items : center;
    
    /* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */
    width: 100%;
    
    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.
    
       Therefore, we should use the following declarations to get it centered again */
           -webkit-box-pack : center;
              -moz-box-pack : center;
              -ms-flex-pack : center;
    -webkit-justify-content : center;
            justify-content : center;
  }
  
  .c-Main {
    padding-bottom: 64px;
    background-color: white; }
  
  .l-row {
    padding: 0 46.5px; }

    .checkbox-new-label {
      display: flex;
      font-size: 1em;
      position: relative;
    }
    .checkbox-new-label [type="radio"], .checkbox-new-label [type="checkbox"] {
      border: 0;
      clip: rect(0 0 0 0);
      left: 8px;
      overflow: hidden;
      padding: 0;
      position: relative;
      width: 1px;
      z-index: -1;
      visibility: hidden;
    }
    .checkbox-new-label [type="radio"] + span:before, .checkbox-new-label [type="checkbox"] + span:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: -0.2em;
      background-color: #f9fbfc;
      border: 3px solid #f9fbfc;
      box-shadow: 0 0 0 0.1em #D3DCE0;
      margin-right: 10px;
      transition: 0.25s ease all;
    }
    .checkbox-new-label [type="radio"]:checked + span:before, .checkbox-new-label [type="checkbox"]:checked + span:before {
      background: #217db3;
    }
    
    input[type="checkbox"],
    input[type="radio"] {
      display: inline;
      margin-right: 5px;
    }
    input[type="checkbox"] + label,
    input[type="radio"] + label {
      display: inline-block;
    }
    
    .input.checkbox, .checkbox.ams {
      padding: 20px 0;
      margin: 0;
      border: none;
    }
    .input.checkbox label, .checkbox.ams label {
      position: static;
      color: #516066;
    }
    .input.checkbox p, .checkbox.ams p {
      display: inline-block;
    }
    
    .input.select, .select.ams {
      position: relative;
    }
    .input.select select, .select.ams select {
      height: 45px;
      margin-bottom: 10px;
      border: 1px solid #D3DCE0;
      background: white;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;
      border: none;
      background: none;
      outline: none;
      margin: 0;
    }
    .input.select:after, .select.ams:after {
      border: transparent;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      bottom: 0;
      box-shadow: none;
      box-sizing: border-box;
      color: #aebfc7;
      content: " ";
      padding: 25px 20px;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      background: url("/assets/images/ic-arrow-grey.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 10px 6px;
      height: 6px;
      width: 10px;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      transition: all 500ms ease;
    }
    .input.select.red-select:after, .select.red-select.ams:after {
      background: url("/assets/images/ic-arrow-red.svg") !important;
      background-repeat: no-repeat !important;
      background-position: 50% 50% !important;
      background-size: 10px 6px !important;
    }
    .input.select.vanilla-input, .select.vanilla-input.ams {
      position: relative;
    }
    .input.select.vanilla-input select, .select.vanilla-input.ams select {
      height: 15px;
      margin-bottom: 10px;
      border: 1px solid #D3DCE0;
      background: white;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      position: relative;
      border: none;
      background: none;
      outline: none;
      margin: 0;
    }
    
    input[type="file"] {
      margin-bottom: 10px;
      width: 100%;
    }
    
    .input-note {
      align-items: center;
      display: -webkit-flex;
      display: flex;
      color: #aebfc7;
      font-size: 11px;
      height: 45px;
    }
    
    .checkbox-custom {
      opacity: 0;
      position: absolute;
    }
    
    .checkbox-custom, .checkbox-custom-label {
      display: inline-block;
      vertical-align: middle;
      margin: 5px;
      cursor: pointer;
    }

    .savespan {
      float: right;
      margin-right: 6px;
      margin-top: -25px;
      position: relative;
  }
    
  .container {
    margin:0 auto; /* this will center the page */
    width:1366px; 
  }

  /* nav-tabs */
  .fresche-form-control{
    /* top | right | bottom | left */
    padding: 0 0.4em 0 0.4em;
  }
  .fresche-nav-tabs{
    margin-left: 1em;
    padding-bottom: 0px;
    border-bottom-color: transparent!important;
  }
  .fresche-nav-link:hover{
    border-color:pink;
    color: #0056C4!important;
    border-bottom-color: transparent;
  }  

  /*  */

